.font{
    font-family: 'Roboto', sans-serif;
}
.fundo{
    padding-top: 40px;
    background: #fff;
}
#altura{
    margin-top: 15px;
}
.botao{
    margin-top: 0px;
    border-radius: 0%;
    width: 20%;  
    position: relative; 
    align-self: center;
    margin: 10px 10px -50px;
    background-color: #007bff;

}
.tabela{
    padding: 50px ;
    margin: 50px;
}